@media (max-width: 1025px) {
	.container {
		max-width: 90%;
	}
}
@media (max-width: 576px) {
	.container {
		max-width: 90%;
	}
	.hero-header {
		margin-bottom: 39px;
	}
	.hero-content {
		display: flex;
		flex-direction: column;
	}
	.hero-text {
		order: 3;
		display: flex;
		flex-direction: column;
	}
	.hero-avatar {
		order: 1;
		display: flex;
		animation-delay: 0.2s;
		margin-bottom: 17px;
	}
	.hero-subtitle {
		font-weight: normal;
		font-size: 16px;
		line-height: 27px;
		text-align: center;
		margin-bottom: 4px;
	}
	.hero-title {
		font-weight: bold;
		font-size: 24px;
		line-height: 28px;
		text-align: center;
		margin-bottom: 15px;
	}
	.hero-description {
		font-weight: normal;
		font-size: 14px;
		line-height: 140%;
		text-align: center;
		margin-bottom: 34px;
	}
	.button .hero-button {
		margin-right: auto;
	}
	.section {
		padding-top: 47px;
		padding-bottom: 50px;
	}
	.section-title {
		font-weight: bold;
		font-size: 19px;
		line-height: 22px;
		text-align: center;
		margin-bottom: 49px;
	}
	.hero {
		padding-bottom: 75px;
	}
	.features-title {
		font-weight: bold;
		font-size: 18px;
		line-height: 28px;
		/* identical to box height, or 156% */
		margin-bottom: 6px;
	}
	.features-text {
		font-weight: normal;
		font-size: 14px;
		line-height: 28px;
		/* or 200% */
	}
	.features-item {
		flex-basis: 80%;
		margin-bottom: 30px;
	}
	.projects-slide {
		flex-direction: column;
	}
	.project-image {
		margin: auto;
	}
	.project-title {
		font-weight: bold;
		font-size: 18px;
		line-height: 150%;
		/* or 27px */
		margin-bottom: 40px;
		margin-top: 46px;
		text-align: center;
	}
	.project-subtitle {
		font-weight: bold;
		font-size: 18px;
		line-height: 21px;
		/* identical to box height */
	}
	.project-paragraph {
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
	}
	.contacts-block {
		flex-direction: column;
	}
	.form-title {
		font-weight: bold;
		font-size: 15px;
		line-height: 140%;
		/* or 21px */
		text-align: center;
		margin-bottom: 27px;
	}

}
@media (max-width: 450px) {
	.hero-avatar {
		width: 200px;
    height: 200px;
    border: 4px solid #fff;
	}
}
@media (max-width: 320px) {
	.hero-text {
		display: block;
		max-width: 100%;
	}
	.hero-avatar {
		display: block;
		max-width: 100%;
	}
}
